* {
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#kalkulacka {
  margin: 30px;
  max-width: 530px;
  padding: 20px;
  border-radius: 15px 15px;
  box-shadow: 4px 4px 10px gray;
  
  background: rgb(45,157,166);
  background: linear-gradient(90deg, rgba(45,157,166,1) 12%, rgba(61,209,145,1) 71%);
}

#momentalniHodnota {
  height: 27px;
}

.container {
  display: grid;
  height: 600px;

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;

  justify-content: space-evenly;
  align-content: space-evenly;
}

.item {
  grid-column: span;
}

.item-input {
  grid-column: 1 / span 4;
}
.item-empty {
  grid-column: 1 / span 4;
}

#kalkulackaForm {
  display: flex;
  flex-direction: column;
}

#momentalniHodnota {
  color: rgb(51, 51, 51);
  font-size: x-large;
  margin-bottom: 3px;
}

#pole {
  padding: 6px 5px;
  max-width: 100%;
  font-size: xx-large;
}

.calc {
  color: white;
  background-color: rgb(107, 107, 107);
  border: 0;
  border-radius: 15px;

  width: 100%;
  height: 100%;
}
.calc:hover {
  background-color: rgb(100, 100, 100);
}
.calc:active {
  background-color: rgb(97, 97, 97);
}

.jinaBarva {
  background-color: rgb(78, 78, 78);
}
.jinaBarva:hover {
  background-color: rgb(63, 63, 63);
}
.jinaBarva:active {
  background-color: rgb(58, 58, 58);
}
